apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    run: $name
    version: v1
  name: $name-v1
spec:
  replicas: 1
  selector:
    matchLabels:
      run: $name
      version: v1
  template:
    metadata:
      labels:
        run: $name
        version: v1
    spec:
      containers:
      - image: $image
        name: $name
        env:
        - name: APP_VERSION
          value: v1
        - name: APP_BUILD
          value: $version
        - name: JAVA_OPTS
          value: "-Xms500m -Xmx500m"
        livenessProbe:
          initialDelaySeconds: 30
          timeoutSeconds: 1
          periodSeconds: 10
          httpGet:
            path: /actuator/health
            port: management
        readinessProbe:
          initialDelaySeconds: 5
          timeoutSeconds: 1
          periodSeconds: 5
          httpGet:
            path: /actuator/health
            port: management
        ports:
        - name: http
          containerPort: 8080
        - name: management
          containerPort: 9080

      restartPolicy: Always
