apiVersion: v1
kind: Service
metadata:
  name: {{artifactId}}-v1
spec:
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    run: {{artifactId}}
    version: v1
  type: ClusterIP
